:root{
    --color-blue: #0a3871;
    --color-fondo: #F3F5FC;
    --color-button-decrypt: #D8DFE8;
}

body{
    background-color: var(--color-fondo);
}

header{
    background-color: antiquewhite;
    /* width: 90%;
    margin: auto; */
     
}

.header{
    background-color: aqua;
    width: 80.5%;
    margin: auto;
    }

.logo{
     margin-top: 40px;
    }    

.main{
    background-color: chocolate;
    width: 80.5%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}

.left{
 background-color: bisque;
 height: 85%; 
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.text{
    width: 80%;
    font-size: 32px;
    color: var(--color-blue);
    resize: none;
    background: none;
    border: none;
    outline: none;
}

.text::placeholder{
    color: var(--color-blue);
}

.footer_left{
    background-color: chartreuse;

}

.leftButtons{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.encryptButton,
.decryptButton,
.copyButton{
    max-width: 328px;
    width: 40%;
    height: 67px;
    border-radius: 24px;    
    font-size: 16px;
}

.encryptButton{
    background-color: var(--color-blue);
    color: white;
}

.decryptButton{    
    background-color: var(--color-button-decrypt);
    color: var(--color-blue);    
}



.rigth{
    background-color: rgb(255, 255, 255);
    height: calc(100% + 48px);
    border-radius: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.picture{
    width: 100%;
}

.finalMessage{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.warningMessage{
    color: gray;
    font-size: 16px;
    text-align: center;
}

.copyButton{
    width: 100%;
    background: transparent;
    color: var(--color-blue);

}

.hidden{    
    display: none;
}



@media screen and (max-width: 800px){
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;
        width: auto;
        margin: auto 40px;
    }    
    .leftButtons{
        justify-content: center;
    }
    .encryptButton,
    .decryptButton{
        width: 45%;
    }
    .rigth{
        height: 100%;
    }
    .picture{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .main{
        margin: auto 16px;
    }
    .encryptButton,
    .decryptButton{
        max-width: 100%;
        width: 100%;
    }
}